<%- include('../includes/head.ejs')  %>
<%- include('../includes/navigation.ejs')  %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% for (let error of errorMessage){ %>
    <h1><%= error %></h1>
<% } %>
<form action="reset-password" method="post">
    <input type="email" name="email" placeholder="enter email"> <br><br>
    <p>im a host</p>
    <input type="checkbox" name="isAHost" id="is-a-host-checkbox">
    <button type="submit">reset password</button>
</form>




<%- include('../includes/bottom.ejs')  %>