<h3>amenities</h3>
    <ul>
        <li>
            <input type="checkbox" name="amenities" value="Free Wireless Internet" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Free Wireless Internet</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Free Parking" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Free Parking</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Housekeeping" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Housekeeping</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Towels" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Towels</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Complimentary Toiletries" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Complimentary Toiletries</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Complimentary Breakfast" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Complimentary Breakfast</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="rosemary-hallett added Good Showers" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">rosemary-hallett added Good Showers</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Television Set" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Television Set</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Refrigerator" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Refrigerator</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Free Early Check-in" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Free Early Check-in</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Luxury Bedding" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Luxury Bedding</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Cable TV" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Cable TV</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Swimming Pool" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Swimming Pool</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Room Service" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Room Service</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Complimentary Bottled Water" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Complimentary Bottled Water</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Free Coffee" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Free Coffee</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="On-site Restaurant" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">On-site Restaurant</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Hair Dryer" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Hair Dryer</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Vending Machines" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Vending Machines</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Microwave" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Microwave</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Coffeemaker" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Coffeemaker</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Indoor Swimming Pool" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Indoor Swimming Pool</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Shuttle Service" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Shuttle Service</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="SNACKS" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">SNACKS</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Satellite TV" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Satellite TV</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Fitness Center" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Fitness Center</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Satellite Internet access" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Satellite Internet access</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="View" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">View</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="psychicmoon added" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">psychicmoon added</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Air Conditioning" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Air Conditioning</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Concierge" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Concierge</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Spa" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Spa</p>
        </li>
        <li>
            <input type="checkbox" name="amenities" value="Hot Tu" style="display: inline-block" id="">
            <div style="display: inline-block" class="amenitie_image"></div>
            <p style="display: inline-block">Hot Tu</p>
        </li>
    </ul>