<%- include('../includes/head.ejs')  %>

<form action="/tours" method="post">
    <input type="text" name="name" value="tour name">
    <button type="submit">add tour</button>
</form>

<%- include('../includes/bottom.ejs')  %>