<%- include('../includes/head.ejs')  %>
<%- include('../includes/navigation.ejs')  %>
<br>
<br>
<br>
<br>
<br>
<form action="/admin/add-tour" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="title" > <br> <br>
    <input type="number" name="price" placeholder="price"> <br> <br>
    <input type="text" name="description" placeholder="description"> <br> <br>
    <input type="text" name="locations" placeholder="locations"> <br> <br>
    <input type="text" name="locationLink" placeholder="locationLink"> <br> <br>
    <input type="text" name="website" placeholder="website"> <br> <br>
    <input type="text" name="telephone" placeholder="telephone"> <br> <br>
    <input type="email" name="email" placeholder="email"> <br> <br>
    <input type="number" name="ratting" placeholder="ratting"> <br> <br>
    <select name="category">
        <option value="tour">tours</option>
        <option value="expeditions">expeditions</option>
        <option value="hotels">hotels</option>
        <option value="bike rides">bike rides</option>
        <option value="campings">campings</option>
    </select> <br> <br> <br><br>

    <label for="images">upload images</label>
    <input type="file" name="images" id=""  multiple="multiple">
    <button type="submit">add tour</button>
</form>

<%- include('../includes/bottom.ejs')  %>