<section class="rules">
    <div class="rules__container container">
        <h2 class="title">Rules</h2>
        <ul>
            <%post.rules.forEach(rule =>{%>
                <li>
                    <img src="/img/SVG/Uniondenie.svg" alt="">
                    <p><%=rule%></p>
                </li>
            <%})%>
        </ul>
    </div>
</section>