@media all and (max-width: 480px) {
    .icons {
        &__icons {
            grid-row-gap: 20vw;
        }
    }
}

@media all and (max-width: 736px) {
    .tour_hero {
        &__showcase-images {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr;
            grid-template-areas: "first second third fourth fifth sixth";
        }
    }



    //     .cafe_menu {




    //         .cafe_menu__manu {
    //             grid-template-columns:  1fr !important;
    //         }

    //         &__item {
    //             // margin-bottom: 2rem;
    //         }

    //         &__item:not(:nth-child(4n-7)) {
    //             // margin: 0 0 2rem 2rem;
    //         }


    //         &__title {


    //             &::after {}
    //         }
    //     }
}



@media all and (max-width: 980px) {

    // === === === === === === === === === ===
    //! LANDING PAGE
    // === === === === === === === === === ===
    .commertial {
        &__commertials {
            grid-template-columns: 1fr;
            grid-row-gap: 20vw;

            .left {
                grid-template-areas:
                    "image"
                    "heading_text"
                    "paragraph_text";
            }

            .right {
                grid-template-areas:
                    "image"
                    "heading_text"
                    "paragraph_text";

                h2 {
                    justify-self: left;
                    direction: ltr;
                }

                p {
                    direction: ltr;
                }
            }

            &__commertial {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr;
                // grid-column-gap: 3vw;
                grid-template-areas:
                    "image"
                    "heading_text"
                    "paragraph_text";

                h2 {
                    padding-top: 6vh;
                    padding-bottom: 2vh;
                    padding-left: 0;
                }

                p {
                    padding-left: 0;
                }
            }
        }
    }

    .about {
        &__image {
            width: 20vw;
        }

        &__text {
            padding-left: 0;
            padding-right: 0;
            max-width: 100vw !important;

            &__heading {}

            &__paragraph {
                grid-row-gap: 5vh;
                grid-template-columns: 1fr;
            }
        }
    }

    // === === === === === === === === === ===
    //! TOUR PAGE
    // === === === === === === === === === ===

    .tour_info {
        height: initial;

        &__panel {
            position: initial;
            height: 63rem;

            &__info {
                margin-top: 5rem;

                ul {
                    li {
                        margin: 2rem 0 0 3.5rem;
                    }
                }
            }

            &__price {
                margin: 4rem 0;
            }

            &__map {
                margin-top: 0;
            }

            &__content {
                padding: 0 6vw;
            }
        }

        &__includes {
            &--cheks {
                margin-top: 5rem;

                li {
                    margin-left: 12vw;
                }
            }
        }
    }


    .tour_info__panel>ul:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }




    // === === === === === === === === === ===
    //! CAFE PAGE
    // === === === === === === === === === ===
    .cafe_about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        // grid-column-gap: 3vw;

        .cafe_about__image {
            grid-column: 1;
            height: 30vh;
            background-attachment: fixed;
        }

        &__text {
            grid-column: 1;
        }

        .cafe_about__text__container {
            height: initial;
            margin: 4rem 0;
            justify-content: center;


            .text {
                text-align: left;
                width: $max-width-vw;

                &__title {
                    margin-top: 1.8rem;
                    margin-bottom: 0;
                    line-height: 3.4rem;
                }

                &__description {
                    margin: 1rem 0 1rem 0;
                    font-size: 1.5rem;
                }

                &__time_of_opening {
                    justify-content: center;
                    float: none;
                    background-color: transparent;
                    flex-direction: column;
                    align-content: center;

                    &__text {
                        /* margin: 0 auto; */
                        /* width: 25%; */
                        width: 80%;
                        background-color: #21e6c1;
                        border-radius: 6px 6px 0 0;
                        padding: 1.5rem 0;
                        font-size: calc(13px + (20 - 13) * ((100vw - 300px)/ (1900 - 700))) !important;

                    }


                    &__container {
                        box-shadow: 0px -15px 40px -20px rgba(0, 0, 0, 0.5);
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr;
                        align-items: center;
                        grid-column-gap: 0;
                        padding: 2rem 0;
                        height: initial;

                        &__arrow {
                            justify-self: center;
                            width: 50%;
                        }

                        &__opened {
                            font-size: calc(16px + (18 - 14) * ((100vw - 300px)/ (1900 - 700))) !important;
                        }
                    }
                }
            }
        }
    }



    .cafe_menu {




        &__container {}


        .cafe_menu__manu {
            width: 100%;
            display: grid;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(calc(45rem / 2), 1fr)) !important;
            align-items: center;
            justify-items: center;
            grid-row-gap: 5rem;
        }

        &__item {
            // margin-bottom: 2rem;
        }

        &__item:not(:nth-child(4n-7)) {
            // margin: 0 0 2rem 2rem;
        }


        &__title {


            &::after {}
        }
    }





}



@media all and (max-width: 1280px) {
    .cafe_menu {


        &__container {}


        .cafe_menu__manu {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;
            grid-row-gap: 5rem;
        }

        &__item {}

        &__item:not(:nth-child(4n-7)) {}


        &__title {


            &::after {}
        }
    }
}