@media all and (max-width: 980px) {
    .commertial {

        &__commertials {
            grid-template-columns: 1fr;
            grid-row-gap: 20vw;

            .left {
                grid-template-areas: "image"
                                    "heading_text"
                                    "paragraph_text";
            }

            .right {
                grid-template-areas: "image"
                                    "heading_text"
                                    "paragraph_text";


                h2 {
                    justify-self: left;
                    direction: ltr;
                }
                
                p {
                    direction: ltr;
                }
            }

            &__commertial {
                display: grid;
                align-items: center;
                grid-template-columns: 1fr;
                // grid-column-gap: 3vw;
                grid-template-areas: "image"
                                    "heading_text"
                                    "paragraph_text";

                h2{
                    padding-top: 6vh;
                    padding-bottom: 2vh;
                    padding-left: 0;
                }
                
                p{
                    padding-left: 0;
                }
            }
        }
    }
    


    .about {

        &__image{
            width: 20vw;
        }

        &__text {
            padding-left: 0;
            padding-right: 0; 
            max-width: 100vw !important;

            &__heading {}    
            &__paragraph {
                grid-row-gap: 5vh;
                grid-template-columns: 1fr;
            }
        }
    }
}




@media all and (max-width: 480px) {
    .icons {
        &__icons {
            grid-row-gap: 20vw;
        }
    }
}