.highlighted-Thumbnail {
    border: 2px solid #21e6c1 !important;
    box-shadow: 0px 0px 60px 15px #21e6c175;
    box-sizing: border-box;
}
 



/* main.min.css | http://localhost:3000/css/main.min.css */

.slider-section .slider__display__image-container__image {
    /* background-position: top center; */
    background-position: center;
    border-radius: 17px;
  }
  
  .slider-section .slider {
    /* height: 70vh; */
    /* background-color: gray; */
    height: 80vh;
  }
  
  .slider-section .slider__small-images {
    /* height: 10rem; */
    height: 8rem;
  }
  
  .slider-section .slider__display .buttons-container {
    /* width: 20rem; */
    /* height: 10rem; */
    width: 14rem;
    height: 8rem;
    filter: drop-shadow(6px 4px 20px black);
  }
  
  .slider-section .slider__display .buttons-container__next::after, .slider-section .slider__display .buttons-container__prev::after {
    /* width: 3rem; */
    /* height: 3rem; */
    width: 2rem;
    height: 2rem;
  }
  
  .tour_info__panel {
    /* height: 65rem; */
    height: 53rem;
  }
  