<%- include('includes/head.ejs')  %>
<%- include('includes/navigation.ejs')  %>

<section class="hero">
    <div class="hero__slogan_btn">
        <h1 class="hero__slogan_btn__slogan">We'll Help You Find <br>
            <span class="underline-1">beauty</span>
        </h1>
        <a href="" class="hero__slogan_btn__button btn-big">Join the adventure</a>
    </div>
    <img src="img/png/hero_image_3d.png" alt="" class="hero__image">
</section>

<section class="icons">
    <ul class="icons__icons">
        <li class="icons__icon">
            <img src="img/SVG/icons/icon_book.svg" alt="" class="icons__icon__image">
            <h3 class="icons__icon__heading">Lorem, ipsum.</h3>
            <p class="icons__icon__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, amet similique
                ipsum maxime sequi consequatur </p>
        </li>
        <li class="icons__icon">
            <img src="img/SVG/icons/icon_map.svg" alt="" class="icons__icon__image">
            <h3 class="icons__icon__heading">Lorem, ipsum.</h3>
            <p class="icons__icon__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, amet similique
                ipsum maxime sequi consequatur </p>
        </li>
        <li class="icons__icon">
            <img src="img/SVG/icons/icon_calendar.svg" alt="" class="icons__icon__image">
            <h3 class="icons__icon__heading">Lorem, ipsum.</h3>
            <p class="icons__icon__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, amet similique
                ipsum maxime sequi consequatur </p>
        </li>
        <li class="icons__icon">
            <img src="img/SVG/icons/icon coffe.svg" alt="" class="icons__icon__image">
            <h3 class="icons__icon__heading">Lorem, ipsum.</h3>
            <p class="icons__icon__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, amet similique
                ipsum maxime sequi consequatur </p>
        </li>
        <li class="icons__icon">
            <img src="img/SVG/icons/icon mounten.svg" alt="" class="icons__icon__image">
            <h3 class="icons__icon__heading">Lorem, ipsum.</h3>
            <p class="icons__icon__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, amet similique
                ipsum maxime sequi consequatur </p>
        </li>
        <li class="icons__icon">
            <img src="img/SVG/icons/icon discount location.svg" alt="" class="icons__icon__image">
            <h3 class="icons__icon__heading">Lorem, ipsum.</h3>
            <p class="icons__icon__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, amet similique
                ipsum maxime sequi consequatur </p>
        </li>
    </ul>
</section>


<section class="commertial">
    <div class="commertial__commertials">

        <div class="commertial__commertials__commertial left">
            <img src="img/png/commertial_image1.jpg" alt="">
            <h2 class="commertial__commertials__commertial__heading "><span class="underline-1">The best</span> places
                you'll to visit</h2>
            <p class="commertial__commertials__commertial__text p-big">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Quibusdam itaque quasi pariatur repudiandae! Suscipit perferendis fugit eaque labore
                iste dolorem delectus,</p>
        </div>

        <div class="commertial__commertials__commertial right">
            <img src="img/png/commertial_image2.jpg" alt="">
            <h2 class="commertial__commertials__commertial__heading"><span class="underline-1">The best</span> places
                you'll to visit</h2>
            <p class="commertial__commertials__commertial_#071e3d;_text p-big">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Illum provident natus at fugit deleniti aspernatur cum quos suscipit ipsa obcaecati,
                ut vel nesciunt commodi doloremque recusandae</p>
        </div>

    </div>
</section>



<section class="about">
    <img src="img/SVG/logo/main logo 2.svg" class="about__image"  alt="" >
    <div class="about__text parallaxElement" data-rate="0.05">
        <h1 class="about__text__heading underline-1">OUR MISSION</h1>
        <div class="about__text__paragraph">
            <p>
                <span class="p-big underline-1">Lorem, ipsum dolor.</span><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta odit suscipit cupiditate
                voluptatem
                sequi iure ex nemo unde mollitia illo tenetur, exercitationem nihil illum corrupti, architecto,
                laboriosam ipsum ea molestiae at quis temporibus itaque enim sapiente? Repellendus, dignissimos quas.
                <br><br>

                <span class="p-big underline-1">Lorem, ipsum dolor.</span><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta odit suscipit cupiditate
                voluptatem
                sequi iure ex nemo unde mollitia illo tenetur, exercitationem nihil illum corrupti, architecto,
                laboriosam ipsum ea molestiae at quis temporibus itaque enim sapiente? Repellendus, dignissimos quas.
            </p>
            <p>
                <span class="p-big underline-1">Lorem, ipsum dolor.</span><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta odit suscipit cupiditate
                voluptatem
                sequi iure ex nemo unde mollitia illo tenetur, exercitationem nihil illum corrupti, architecto,
                laboriosam ipsum ea molestiae at quis temporibus itaque enim sapiente? Repellendus, dignissimos quas.
                <br><br>

                <span class="p-big underline-1">Lorem, ipsum dolor.</span><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta odit suscipit cupiditate
                voluptatem
                sequi iure ex nemo unde mollitia illo tenetur, exercitationem nihil illum corrupti, architecto,
                laboriosam ipsum ea molestiae at quis temporibus itaque enim sapiente? Repellendus, dignissimos quas.
            </p>
        </div>
    </div>
</section>





<section class="slider-section">
    <div class="slider" id="slider">
        <div class="slider__display" id="sliderDisplay">
            <div class="slider__display__image-container">
               
            </div>

            <div class="buttons-container">
                <div class="buttons-container__prev" id="sliderBtnPrev"></div>
                <div class="buttons-container__next" id="sliderBtnnext"></div>
            </div>
        </div>

        <div class="slider__small-images" id="sliderThumbnailImages" style="background-color: transparent !important">
            <div style='background-image: url("/img/slider images/slider_1.jpg")'></div>
            <div style='background-image: url("/img/slider images/slider_2.jpg")'></div>
            <div style='background-image: url("/img/slider images/slider_3.jpg")'></div>
            <div style='background-image: url("/img/slider images/slider_4.jpg")'></div>
            <div style='background-image: url("/img/slider images/slider_5.jpg")'></div>
        </div>

    </div>
</section>


<%- include('includes/bottom.ejs')  %>