<%- include('includes/head.ejs')  %>
<%- include('includes/navigation.ejs')  %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="signlogin" method="post">
    <input type="text" name="username" placeholder="enter username"> <br><br>
    <input type="email" name="email" placeholder="enter email"> <br><br>
    <input type="password" name="password" placeholder="enter password"> <br><br>
    <input type="password" name="repeatpassword" placeholder="repeat password"> <br><br>
    <button type="submit">register</button>

    <% if(errors.length > 0){
        for (let err of errors) {%>

            <h1><%= err  %> </h1>
    <% }} %>

   


</form>


<%- include('includes/bottom.ejs')  %>