<%- include('includes/head.ejs')  %>
<%- include('includes/navigation.ejs')  %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% for (let error of errorMessage){ %>
    <h1><%= error %></h1>
<% } %>
<form action="reset-password" method="post">
    <input type="email" name="email" placeholder="enter email"> <br><br>
    <button type="submit">reset password</button>
</form>



<%- include('includes/bottom.ejs')  %>