@font-face {
    font-family: 'montserat-regular';
    src: url(../scss/fonts/allMontserrat/MontserratAlternates-SemiBold.otf);
}

@font-face {
    font-family: 'keep-calm-medium';
    src: url(../scss/fonts/keep_calm/KeepCalm-Medium.ttf);
}

@font-face {
    font-family: 'lato-regular';
    src: url(../scss/fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'lato-bold';
    src: url(../scss/fonts/lato/Lato-Bold.ttf);
}
