@font-face {
    font-family: 'gilroy-extrabold';
    src: url(../scss/fonts/My_Fontspring_Fonts/Webfonts/gilroy_extrabold_macroman/gilroy-extrabold-webfont.woff2);
}
 
@font-face {
    font-family: 'gilroy-light';
    src: url(../scss/fonts/My_Fontspring_Fonts/Webfonts/gilroy_extrabold_macroman/gilroy-light-webfont.woff2);
}

// @font-face {
//     font-family: 'gilroy-extrabold';
//     src: url(../scss/fonts/Futura_Bold.otf); 
// }


 









@font-face {
    font-family: 'montserat-alternates';
    src: url(../scss/fonts/allMontserrat/MontserratAlternates-SemiBold.otf);
}

@font-face {
    font-family: 'montserrat-alternates-regular';
    src: url(../scss/fonts/allMontserrat/MontserratAlternates-Regular.otf);
}


@font-face {
    font-family: 'montserat-bold';
    src: url(../scss/fonts/allMontserrat/Montserrat-Bold.otf);
}

@font-face {
    font-family: 'montserat-semibold';
    src: url(../scss/fonts/allMontserrat/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: 'montserat-regular';
    src: url(../scss/fonts/allMontserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: 'keep-calm-medium';
    src: url(../scss/fonts/keep_calm/KeepCalm-Medium.ttf);
}

@font-face {
    font-family: 'lato-regular';
    src: url(../scss/fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'lato-light';
    src: url(../scss/fonts/lato/Lato-light.ttf);
}

@font-face {
    font-family: 'lato-bold';
    src: url(../scss/fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: 'opensans-light';
    src: url(../scss/fonts/OpenSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'opensans-regular';
    src: url(../scss/fonts/OpenSans/OpenSans-Regular.ttf);
}



@font-face {
    font-family: 'opensans-bold';
    src: url(../scss/fonts/OpenSans/OpenSans-Bold.ttf);
}