a {
    // font-weight: bold;
}

p {
    word-spacing: 0.1rem;
}

h3 {
    @extend %font-heading-1;
}

h2 {
    @extend %font-heading-1;
}




.card-small {
    font-family: $font-heading-2 !important; 

    // STYLES
    &__text {

        &__title {
            font-family:  $font-heading-2 !important;
        }

        &__price {}

        &__description {
            font-family: $font-paragraph;
            color: $dark-light;
        }

        &__button {
            font-family: 'montserat-regular';
        }

    }

}