body {
    margin: 0;
    padding: 0;
    font-family: opensans-regular;
    line-height: 1.6;
    color: $dark;
} 

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: $dark;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul{
    li{
        list-style: none;
    }
}


// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }