.header{
    height: 40vh;
    background-image: url("../../img/png/small_hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 
}


.medium-card-container{
    
}