.explore_header_categories {
    height: 80vh;
    background-image: url("../../img/png/small_hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    

    &__title{
        @extend %font-heading-1;
        color: white;
        @include centerlize();
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
    }
}

.medium-card-container {
    width: 80%;
    max-width: $max-width-rem;
    margin: 0 auto;
    margin-top: 15vh;

    &__title {
        display: inline-block;
    }

    &__buttons {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 2%;
        // transform: translateY(-120%);
        display: flex;
        flex-direction: row;
        border: none;
        filter: drop-shadow(0 0px 20px rgba(50, 50, 50, 0.1));
        transition: all 0.3s ease;
        
        &__left {
            padding: 2rem;
            border: none;
            background-color: white;
            cursor: pointer;
        }
        
        &__right {
            padding: 2rem;
            border: none;
            background-color: white;
            cursor: pointer;
        } 


        &:hover{
            filter: drop-shadow(0 0px 20px rgba(50, 50, 50, 0.3));
        }
    }
}

.large-card-container {
    width: 80%;
    max-width: $max-width-rem;
    margin: 0 auto;
    margin-top: 15vh;

    &__title {
        display: inline-block;
    }

    &__buttons {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 2%;
        // transform: translateY(-120%);
        display: flex;
        flex-direction: row;
        border: none;
        filter: drop-shadow(0 0px 20px rgba(50, 50, 50, 0.1));
        transition: all 0.3s ease;
        
        &__left {
            padding: 2rem;
            border: none;
            background-color: white;
            cursor: pointer;
        }
        
        &__right {
            padding: 2rem;
            border: none;
            background-color: white;
            cursor: pointer;
        } 


        &:hover{
            filter: drop-shadow(0 0px 20px rgba(50, 50, 50, 0.3));
        }
    }
}


.glide__slides{
    padding: 5rem 0;
    margin: 5rem 0;
    
}
