<%- include('../includes/head.ejs')  %>
<%- include('../includes/navigation.ejs')  %>



<main>
    <div class="search-and-curency">
        <div class="search-and-curency__curency">
            <select name="" id="">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div> 
    </div>


    <form method="POST" action="/search" class="search-and-curency__search">
        <input type="text" name="" id="">
        <button type="submit">🔍</button>
    </form>

</main>




<%- include('../includes/bottom.ejs')  %>