.info_panel__wide {
    background-color: white;
    filter: drop-shadow(0 0 20px rgba(black, 0.1));
    border-radius: 10px;
    position: sticky;
    // top: 10vh;
    height: 42rem;
    overflow: hidden;

    &__container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        p {
            font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1900 - 700))) !important;
        }
    }




    &__content {
        padding: 0 3vw;
        width: 65%;
        align-self: center;
        justify-self: center;
    }

    &__img {
        width: 11vw;
        height: 11vw;
        background-color: white;
        @include centerlize;
        position: absolute;
        top: -0%;
        left: 50%;
        border-radius: 1000px;
        filter: drop-shadow(0 8px 3px rgba(black, 0.4));

        background: {
            position: center;
            size: cover;
            repeat: no-repeat;
        }
    }
 
    hr {
        color: rgba(black, 0.1);
    }

    &__info {
        margin: 4rem 0;

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-gap: 3rem;
            justify-items: left;

            li {
                margin: 0 0 0 4.3rem;
                position: relative;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    @include centerlize;
                    left: -3rem;
                    top: 50%;
                    height: 2rem;
                    width: 2rem;
                    size: cover;
                    repeat: no-repeat;
                }

                &:nth-child(1)::after {
                    background: {
                        size: cover;
                        repeat: no-repeat;
                        image: url("../img/SVG/tour_page_icons/location.svg");

                    }
                }

                &:nth-child(2)::after {
                    background: {
                        size: cover;
                        repeat: no-repeat;
                        image: url("../img/SVG/tour_page_icons/laptop.svg");
                    }
                }

                &:nth-child(3)::after {
                    background: {
                        size: cover;
                        repeat: no-repeat;
                        image: url("../img/SVG/tour_page_icons/email.svg");
                    }
                }

                &:nth-child(4)::after {
                    background: {
                        size: cover;
                        repeat: no-repeat;
                        image: url("../img/SVG/tour_page_icons/phone.svg");
                    }
                }
            }
        }
    }

    &__map {
        height: 100%;
        width: 100% !important;
        position: relative;
        bottom: 0;
        // height: 26rem;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        grid-column: 2/3 !important;

        &--map {
            height: 100% !important;
        }
    }

}

.mapouter {
    height: 100% !important;
    width: 100% !important;

    .gmap_canvas {
        // height: 20rem !important;
        height: 100% !important;
    }

    #gmap_canvas {
        height: 100% !important;
        width: 100% !important;
    }
}






@media all and (max-width: 736px) {
    .info_panel__wide {

        &__container {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }


        &__content {}

        hr {
            color: rgba(black, 0.1);
        }

        &__info {
            margin: 4rem 0;

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                grid-gap: 3rem;
                justify-items: left;

                li {
                    margin: 0 0 0 4.3rem;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        @include centerlize;
                        left: -3rem;
                        top: 50%;
                        height: 2rem;
                        width: 2rem;
                        size: cover;
                        repeat: no-repeat;
                    }

                    &:nth-child(1)::after {
                        background: {
                            size: cover;
                            repeat: no-repeat;
                            image: url("../img/SVG/tour_page_icons/location.svg");

                        }
                    }

                    &:nth-child(2)::after {
                        background: {
                            size: cover;
                            repeat: no-repeat;
                            image: url("../img/SVG/tour_page_icons/laptop.svg");
                        }
                    }

                    &:nth-child(3)::after {
                        background: {
                            size: cover;
                            repeat: no-repeat;
                            image: url("../img/SVG/tour_page_icons/email.svg");
                        }
                    }

                    &:nth-child(4)::after {
                        background: {
                            size: cover;
                            repeat: no-repeat;
                            image: url("../img/SVG/tour_page_icons/phone.svg");
                        }
                    }
                }
            }
        }

        &__map {
            grid-column: 1/2 !important;

            &--map {
                height: 100% !important;
            }
        }

    }


}




@media all and (max-width: 500px){
    .info_panel__wide {
        height: 48rem;

        &__container {
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }


        &__content {}

        hr {
            color: rgba(black, 0.1);
        }

        &__info {
            margin: 4rem 0;

            ul {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                grid-gap: 3rem;
                justify-items: left;

                li {
                     
                    position: relative;
                }
            }
        }

        &__map {
            grid-column: 1/2 !important;

            &--map {
                height: 100% !important;
            }
        }

    }
}

 
  